
<div class="container">

  <div class="mx-auto mt-5 centered">

    <%== pagy_bootstrap_nav(@pagy_a) %>

  </div>


  <% if @results %>

  <div class="row row-cols-1 row-cols-md-3 mt-4">

    <% @results.each do |podcast| %>

    <div class="col mb-4">


      <div class="card shadow-sm h-100" style="border-radius: 10px;">

        <%= image_tag podcast["artworkUrl600"], style: "border-top-left-radius:10px; border-top-right-radius:10px; object-fit:cover; width:100%; height:50vh" %>


        <div class="card-body">
          <p class="card-title"> <%=  podcast["collectionName"] %> </p>
        </div>

      </div>




    </div>

    <% end %>


  </div>


  <% end %>



</div>







