
<div class="container">

  <div class="mx-auto mt-5">

    <%== pagy_bootstrap_nav(@pagy_a) %>

  </div>


  <% if @results %>

  <div class="row row-cols-1 row-cols-md-3 mt-4">

    <% @results.each do |podcast| %>

    <div class="col mb-4">


      <div class="card h-100" style="border-radius: 10px;">
        <%= image_tag podcast["artworkUrl600"], class:"card-img-top", style: "border-top-left-radius:10px; border-top-right-radius:10px;" %>


        <div class="card-body">
          <p class="card-title"> <%=  podcast["collectionName"] %> </p>
        </div>

      </div>




    </div>

    <% end %>


  </div>


  <% end %>



</div>







