<div class="container">
  <div class="row">
      <div class="column mt-4 dimensions">

        <div class="text-center right-side">
          <%= image_tag 'bird.svg', style: "width:100%; cover:fit" %>
        </div>

        <div class="no-space" style="overflow:hidden; width: 5%"></div>

        <br class="mobile-space">
        <br class="mobile-space">


        <div class="mx-auto text-center left-side">
          <div class="middle">
            <h3 style="font-weight: bold;"> What do you want to listen to?  </h3>

            <br>

            <%= simple_form_for :search, url: search_path, method: "get" do |f| %>
              <%= f.input :term, placeholder: "Search iTunes for a podcast", label: false %>
              <% f.button :submit %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
